[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -ci '/home/deck/ros2_ws/src/jkk_utils/steam_deck_jkk/shell/start_joy1.sh'
Name=joy1 GUI
Comment=ss
Icon=/home/deck/ros2_ws/src/jkk_utils/steam_deck_jkk/img/icon09.png
Name[en_US]=joy1.desktop
